*:focus {
  outline: none;
}

body {
  background-color: #333333;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* the whole replybox*/
#replies {
  margin-top: -10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
/*--------------------replies in the replybox----------------*/
/* single reply*/
.replies {
  padding-left: 10px;
  border-left: 3px solid #d7d3d1;
  background-color: #efebe9;
}

.unapproved{
  color: grey;
}

.unapproved i{
  font-size: 14px;
}

.firstComment{
  font-size: 18px;
}

.replies img {
  width: calc(100% - 40px) !important;
  height: auto !important;
  padding-right: 20px;
  display: block;
}

.replyText {
  margin-bottom: 15px;
  margin-left: 0px;
  margin-top: 12px;

  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}

.commentButtonSpan{
  height: 30px;
}

.commentMenuButton{
  margin-right: 30px;
  float: right;
}





#type-of-work {
  box-sizing: border-box;
  position: fixed;
  right: 0px;
  top: 100px;
  background-color: rgba(235, 235, 235, 1.0);
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1.0);
}

/* #text span {
  background-color: #48c448;

}

#text span span {
  background-color: #309b30;
}

#text span span span {
  background-color: #238423;
}

#text span span span span {
  background-color: #186818;
} */

.content {
  width: 100%;
  height: 100%;
}

#header {
  background-color: #4db6ac;
  width: 100%;
  height: 5rem;
  background-image: url(../img/marginalialogo.svg);
  background-repeat: no-repeat;
  background-position: 4% 50%;
  background-size: 18% 80%;
  z-index: 1;
}

#home{
  float: left;
  z-index: 1;
}


.headerTab {
    z-index: 2;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    color: rgba(255, 255, 255, 1.0);
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 1.0);
    transition: border-bottom-width 0.1s ease-in-out;
}

.headerTab:hover {
    border-bottom-width: 2px;
}


#goBack {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px;
}

.nameContainer {
    display: none;
}

.introBoxes {
  margin: 5% 30%;
  align-items: center;
  background-color: #efebe9;
  width: 21rem;
  padding: 4%;
  box-shadow: 2px 2px 8px #222222;
  overflow: visible;
}

.titleText {
  font-size: 1.5rem;
  padding: 0% 0% 6% 0%;
}

.userFiles {
  margin: 0%;
  position: absolute;
  font-size: .75rem;
  font-weight: bold;
}

.pleaseSelect {
  font-weight: bold;
  font-size: .60rem;
  padding-bottom: 3%;
}

.usersMenu {
  font-weight: bold;
  font-size: .75rem;
}

.chosenText {
  padding-bottom: 2%;
}

.chosenUser {
  font-size: .60rem;
  font-weight: bold;
}

.chosenFile {
  font-weight: bold;
  font-size: .60rem;
}

#addLitBase {
  font-weight: bold;
  font-size:.55rem;
}

#submitLit {
  margin-left: 73%;
}

#box {
  width: 60%;
  height: 75%;
  margin: 0% 5%;
}

#boxhead {
  background-color: #00796B;
  margin: 5% 0% 0% 0%;
  padding: 2%;
  width: 96%;
  height: 4rem;
  word-spacing: 8;
}

#goBack {
  margin: 4% 0%;
}

#text {
  width: 96%;
  padding: 2%;
  position: absolute;
  overflow: none;
  height: 545%;
  background-color: #efebe9;
}

.selected {
  background-color: #b2dfdb;
}

#commentBox {
  background-color: #efebe9;
}

#commentHeader {
  padding: 3%;
  width: 94%;
  height: 5rem;
  background-image: url(../img/smalllogo.svg);
  background-repeat: no-repeat;
  background-color: #4db6ac;
}

.headText {
  line-height: 2;
  word-spacing: 4;
  margin-left: 22%;
  margin-top: 0%;
  width: 100% over
}

.primaryText {
  color: #efebe9;
  font-size: 25;
}

.secondaryText {
  color: #b2dfdb;
  font-size: 16;
  font-style: italic;
}

.commentText {
  padding: 6%;
  width: 100%;
}

.typeButtons {
  color: #b2dfdb;
  font-size: 13;
}

.typeSelected {
  font-style: bold;
  color: #efebe9;
}

.titleText {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .content {
    width: auto;
    height: auto;
    margin: auto;
  }
  #header {
    background-position: 4% 50%;
    background-size: 33% 100%;
    width: auto;
  }
  .introBoxes {
    margin: 5% auto;
    padding: 5%;
  }
  #box {
    width: auto;
    height: auto;
    margin: 0%;
  }
  #boxhead {
    background-color: #00796B;
    margin: 5% 0% 0% 0%;
    width: auto;
    height: 3rem;
    overflow: visible;
  }
  .boxLit {
    -webkit-overflow-scrolling: touch;
    width: auto;
    padding: 2%;
    height: 75.9%;
    margin: 0%;
  }
  .commentBox {
    position: absolute;
    top: 60%;
    left: 0%;
    height: 60%;
    margin: auto;
    width: 100%;
  }
  #commentHeader {
    padding: 2%;
    width: auto;
    height: 3.5rem;
    background-image: url(../img/smalllogo.svg);
    background-repeat: no-repeat;
    background-color: #4db6ac;
  }
  .headText {
    margin-left: 20%;
    margin-top: 0%;
    line-height: 1.5;
  }
  .commentText {
    padding: 2%;
    width: auto;
  }
  .headText {
    line-height: 1;
  }
  .firstPage {
    width: auto;
  }
  s
}

#cardbox {
  border-radius: .75rem;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mdl-menu__outline {
  width: 25%;
  border-radius: 10px !important;
}

.material-icons {
  color: #009688;
}

#pickUser {
  margin-right: 2.5%;
}

#marginTitle {
  font-size: 1.25rem;
}

.litSelector {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 1rem;
  height: 2rem;
  left: 40%;
  top: 8.5rem;
  background: #CCC;
  color: #000;
  text-align: center;
}

.userInput {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background: #CCC !important;
  color: #000 !important;
  width: 20rem !important;
  height: 10rem !important;
  text-align: left !important;
  top: 8rem !important;
  left: 35% !important;
  padding-bottom: 0%;
  /* margin-left: 20rem !important; */
  /* margin-top: 7rem !important; */
}

#usersItems {
  cursor: grab;
}

#worksButtons {
  cursor: grab;
}

#userFiles {
  /* position: absolute;
  font-style: normal;
  font-size: .45rem;
  color: black; */
  font-size: .5rem;
  text-align: center;
  width: 4rem;
}

#userButton {
  font-size: .8rem;
  font-style: normal;
  text-align: center;
  /* width: 4rem; */
  /* position: relative; */
  /* display: block; */
  /* display: inline-block; */
  /* word-wrap: break-word; */
  /* height: 1.5rem; */
}

.moderatedUserButton {
  position: relative;
  display: block;
  display: inline-block;
  word-wrap: break-word;
  margin-right: .1rem;
  margin-top: .1rem;
  font-size: .6rem;
  text-align: center;
  width: 3.5rem;
  height: 1.5rem;
  color: #7f7f7f;
}

#addLit {
  margin-top: 10px;
  word-wrap: break-word;
  width: 10.5rem;
  font-size: 1rem;
}

#moderateFileChoice {
  background-color: #CCC;
}

#userReturnButton {
  margin-top: 10px;
  word-wrap: break-word;
  width: 11rem;
  font-size: .85rem;
}

#inputLitButton {
  /* position: relative;
  display: block;
  display: inline-block;*/
  word-wrap:normal;
  font-size: .8rem;
  text-align: center;
  /* width: 4rem; */
}

#inputTextName {
  position: relative;
  margin-left: .25rem;
  width: 5.25rem;
  height: 1rem;
  bottom: 1.8rem;
  font-size: .5rem;
  display: inline-block;
}

#inputNameDisabler {
  position: relative;
  width: 4rem;
  height: 1rem;
  bottom: 1.8rem;
  left: .5rem;
  padding-top: .1rem;
  display: inline-block;
  font-size: .5rem;
  text-align: center;
}

#inputTitle {
  position: relative;
  font-size: .85rem;
  margin-left: 5.75rem;
  bottom: 2rem;
  text-align: center;
}

#inputLeave {
  position: relative;
  top: .1rem;
  left: 5rem;
}

#topDiv {
  padding-bottom: 2%;
}

#fileDiv {
  width: 12rem !important;
  margin-bottom: .5rem;
}

#inputDiv {
  width: 12rem !important;
  margin-bottom: .5rem;
}

text[inputtype] {
  position: relative;
  margin-left: .25rem;
  font-size: .75rem;
}

text[inputtype='inputName'] {
  bottom: 2rem;
  width: 5rem !important;
  display: block;
}

text[inputtype='inputFile'] {
  bottom: 1.8rem;
  display: block;
  width: 7rem;
}

#inputSwap {
  position: absolute;
  width: 6rem;
  bottom: 44.5%;
  left: 35%;
  font-size: .55rem;
}

#textForm {
  border-style: solid;
  /* border-color: #CA99FA; */
  border-color: #4db6ac;
  border-width: 1px;
  resize: vertical;
  width: 100%;
}

#inputButton {
  position: relative;
  margin-left: .25rem;
  bottom: 1.5rem;
  font-size: .5rem;
  transform: scale(1%, 1%);
  display: inline-block;
}

#textModeration {
  bottom: 1.75rem;
  display: inline-block;
}

#fileModeration {
  /* -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: .1rem solid red;
  display: inline-block;
  bottom: 1.65rem;
  left: .35rem;
  zoom:2rem;
  position:relative; */
  zoom: 1.2;
  position: relative;
  margin-left: .25rem;
  bottom: 1.65rem;
}

#inputTextAdder {
  position: relative;
  margin-left: 1.5rem;
  bottom: 1.35rem;
  width: 3.25rem;
  height: 1.1rem;
  font-size: .55rem;
  text-align: center;
}

#cancelFile {
  margin-right: 4%;
}

#fileView {
  margin-left: .01rem;
  padding-left: .1rem;
}

#fileView:hover {
  color: red;
}

#fileView>span {
  font-size: .5rem;
}

#allFiles {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: monospace;
  width: 5rem;
  height: 7rem !important;
  background-color: #b7b7b7;
  margin-left: 2rem;
  overflow: auto;
}

.removeFile {
  position: relative;
  margin-left: .5rem;
  margin-top: .1rem;
}

.vertical-menu a {
  background-color: #b7b7b7;
  color: black;
  display: block;
  padding: 2px;
}

.vertical-menu a:hover {
  color: black;
}

.vertical-menu a.active {
  color: black;
}

.choiceBox {
  width: 200px;
  height: 100px;
  text background-color: #DEDEDE;
  position: fixed;
}

div[id='textSpace'] {
  white-space: pre-line;
  width: 60%;
  padding-top: 1%;
  padding-left: 1%;
  font-family: monospace;
  font-size: auto;
}

#textTitle {
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: .5%;
  padding-left: .5%;
}

/*-----------------Commenters/Type Selector----------------*/
.allTypes, .allCommenters{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: static;
  top: .25rem;
  font-family: 'HKVenetianRegular', serif;
  font-weight: normal;
  font-size: .65rem;
  width: 6rem;
  border-color: black;
  border-width: 1px;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  z-index: 1;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.notUsedType{
  color: lightGrey;
}

.mdl-radio__inner-circle {
  /* color: #CA99FA; */
  color: #4db6ac;
}

.allCommenters{
  overflow-y: scroll;
  overflow-x: scroll;
}

.allCommenters::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #f3f1ef;
}

.allCommenters::-webkit-scrollbar-track {
  border-radius: 5px;
}

.allCommenters::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #4db6ac;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.choiceList {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-family: 'HKVenetianRegular', serif;
  font-weight: normal;
  font-size: .65rem;
  text-align: center;
  padding-left: 0px;
  padding-top: 1.5%;
  padding-bottom: 2.5%;
  margin-bottom: 0px;
  background-color: #CDCDCD;
}

#privateNamePlane {
  background-color: #b7b7b7;
  height: 1rem;
  font-size: .65rem;
  margin-top: 3.5%;
  text-align: center;
}

#privatePlane {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-family: 'HKVenetianRegular', serif;
  font-weight: normal;
  font-size: .5rem;
  text-align: center;
  padding-left: 0px;
  margin-bottom: 0px;
  background-color: #CDCDCD;
}

div[id^="privateName_"]:hover {
  color: red;
}

button[id^="removePrivateName_"] {
  height: 1rem;
  margin-left: 3%;
  text-align: center;
}

button[id^="removePrivateName_"]:hover {
  color: black;
}

#doneButton {
  margin-left: 3%;
  width: 3rem;
}

#addPrivateButton {
  font-size: .65rem;
  text-align: center;
  margin-left: 5%;
}

#commentBox {
  background-color: #DEDEDE;
}

.commentTypeDropdown {
  /* margin-left:10px; */
  width: 100%;
}

.nameMenu {
  position: relative;
  display: block;
  color: #000;
  padding: 5px 16px;
  text-decoration: none;
}

.nameList {
  position: relative;
  display: none;
  color: #000;
  padding: 4px 3px;
  text-decoration: none;
}

.nameList li {
  padding: 2px;
  display: block;
}

.nameList hover {
  background-color: #555;
}

.studButtons label {
  padding-left: 4px;
}

.studButtons:hover {
  background-color: #C8C8C8;
}

.nameMenu:hover .nameList {
  display: block;
}
/*--------------Selectors------------------*/

.typeSelector {
  right: 0;
  z-index: -1;
}

.typeSelector ul {
  top: calc(5rem + 24px);
  right: 0;
  list-style-type: none;
  margin-top: 20px;
  margin-left: 2px;
  padding: 0;
  background-color: #EFEBE9;
  position: fixed;
}

 .commenterSelector ul {
  top: calc(5rem + 250px);
  right: 0;
  list-style-type: none;
  width:140px;
  margin-top: 10px;
  padding: 0;
  background-color: #EFEBE9;
  position: fixed;
}

.selectorHeader{
  padding-left: 7px;
  font-size: 18px;
  margin-top:2px;
}

.buttons, .commenters {
  height: 5%;
  position: relative;
  display: block;
  color: #000;
  padding: 1.5% 5%;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.buttons label , .commenters label{
  padding-left: 4px;
}

.buttons input, .commenters input{
  width: 20px;
}

.buttons:hover , .commenters:hover{
  background-color: #C8C8C8;
}

input[type='radio'] {
  cursor: crosshair;
}

input[type='radio']:active {
  background-color: #C999F6;
}
/*------------------------------------*/
#commentExit {
  width: 15%;
  border-radius: 10px;
  background-color: #f2efed;
  border-color: #c1bfbd;
  border-width: 2px;
}

#commentSave {
  margin-right: 2%;
  width: 15%;
  border-radius: 10px;
  background-color: #f2efed;
  border-color: #c1bfbd;
  border-width: 2px;
}

#commentSave:hover, #commentExit:hover{
  background-color: #bfbcba;
}


#viewRepliesButton {
  width: 120px;
  height: 30px;
  margin-left: 37.5%;
  margin-top: 5%;
}

.makeReplyBox {
  width: 120px;
  height: 30px;
  margin-left: 37.5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.exitReplyBox {
  width: 120px;
  height: 30px;
  margin-left: 37.5%;
}

.replyBox {
  right: 0;
}

.replyTitle {
  padding-left: 40%;
  text-align: right;
  right: 30%;
  color: #000;
  font-style: italic;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  background: #f0edeb;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4db6ac;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.allReplies {
  position: fixed;
  top: 17.5%;
  font-family: 'HKVenetianRegular', serif;
  font-weight: normal;
  font-size: 16.5px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 32.5%;
  right: 13.75%;
  down: 5%;
  list-style-type: none;
  background-color: #D8D8D8;
  /* overflow: auto; */
}

.reply {
  height: 75px;
  width: 100%;
  margin: 3px;
  resize: none;
  position: absolute;
  display: block;
  border: none;
  color: #000;
  right: 30px;
  top: 5px;
}

button[class^='editButton'] {
  position: relative;
  display: block;
  color: #000;
  padding: 5px 10px;
  left: 85%;
  top: 5px;
}

#getHelp {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../img/helpSign.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

div[aria-describedby] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 10%;
}

div[aria-describedby='replies'] {
  height: 10%;
  position: absolute;
  z-index: 0;
}

div[aria-describedby='choices'] {
  position: absolute;
}

div[aria-describedby='commentBox'] {
  position: absolute;
  z-index: 1;
}

div[aria-describedby='moderateFileChoice'] {
  background-color: #CCC;
  font-size: .55rem;
}

div[aria-describedby="inputDialog"] {
  position: absolute;
  height: auto;
  width: 6rem;
}


.ui-dialog {
  background-color: #efebe9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 3px #666666;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
  height: auto;
}

.ui-dialog-buttonpane>div{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #efebe9;
}

.ui-dialog-title {
  height: 40px;
  width: 500px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;

  background-color:#4db6ac;
  height: 40px;
  //border-bottom: 2px solid rgba(52, 52, 52, 1.0);
}

.ui-dialog-buttonpane {
  text-align: center;
  background-color: #DEDEDE;
}

.loader {
  position: absolute;
  left: 50%;
  top: 75%;
  border: 20px solid #f3f3f3;
  border-top: 20px solid #C999F6;
  border-radius: 50%;
  margin: -75px 0 0 -75px;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.closeReplyBox , .closeCommentBox{
  background-color: #f44336;
  color: white;
  border-radius: 10px;
  border: 1px solid #c13328;
  margin: 1px 3px 1px 0px;
  font-size: 10px;
}

.closeReplyBox:hover , .closeCommentBox:hover{
  background-color: #c13328;
  color: white;
}

input[type="file"] {
  visibility: hidden;
}

#addFileButton {
  width: 10%;
  margin-right: 3%;
  margin-top:2%;
}

.mdl-textfield__input {
  width: 60% !important;
}

.mdl-textfield {
  width: 60% !important;
}

.privateContainer
{
  padding-top:3%;
}
#fileSystemTitle
{
  font-size:.75rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-1080deg);
  }
  100% {
    -webkit-transform: rotat
  }
}

#userSelector {
    font-style: italic;
}
/*-----------------commentHighlightColor-----------*/
.commented-selection {
  background-color: rgba(100, 255, 100);
  cursor: context-menu;
}

/*-----------------selectingMenu-------------------*/
.userSelectMenu ul, .workSelectMenu ul{
  height: 96px;
  overflow: hidden;
  overflow-y: scroll;
}

.usersMenuOptions , .worksMenuOptions{
  background-color: #efebe9;
  font-weight: bold;
}

.usersMenuOptions:hover,.worksMenuOptions:hover{
  background-color:#bfbcba;
}

.searchUser, .searchLit, .searchWhiteList{
  width: 85%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  background-color: #f3f1ef;
  margin-bottom: 12px;
}
/*-----------------settingPage---------------------*/
.disabledHeaderTab{
  color:lightgrey;
  border-bottom: 1px solid lightgrey;
}

#settingTitle{
  font-size: 20px;
  font-weight:bold;
}

.settingTitles{
  font-weight: bold;
}

.whiteListSettingBase ul{
  height: 96px;
  overflow: hidden;
  overflow-y: scroll;
}

.settingUsers , .settingLit{
  background-color: #efebe9;
  font-weight: bold;
}

.settingUsers:hover,.settingLit:hover,.litDelButton:hover,.litEditButton:hover , .litWhiteListButton:hover{
  background-color:#bfbcba;
}

.settingLitSelected, .litSettingOptionSelected, .settingUserSelected{
  background-color:#bfbcba;
}

#litSettingButton, #userSettingButton{
  float:right;
}

.litSettingBaseTitle, .userSettingBaseTitle{
  font-size: 16px;
  font-weight: bold;
}

.whiteList{
  height:200px;
  overflow: hidden;
  overflow-y: scroll;
}

.whiteListOption{
  height: 60px;
  width: 300px;
}

.whiteListCheckBoxSpan{
  padding: 40px;
  float:right;
}

.mdl-switch{
  margin-left: 50px;
}


/*----------toast notifcation ---------*/

#toast-notification {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #4db6ac;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 2;
    left: 0;right:0;
    bottom: 30px;
    font-size: 15px;
    white-space: nowrap;
}

#logo{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #4db6ac;
    box-sizing: border-box;
    background-image: url(../img/smalllogo.svg);
    background-repeat: no-repeat;
}

#toast-notification #notification-data{
    color: #fff;
    padding: 16px;
    overflow: hidden;
	  white-space: nowrap;
}
#toast-notification.show {
    visibility: visible;
    animation: fadein 0.5s,expand 0.5s 0.5s,show 1s 1s,shrink 0.5s 2s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes expand {
    from {min-width: 0px}
    to {min-width: 400px}
}
@keyframes show {
    from {min-width: 400px}
    to {min-width: 400px}
}
@keyframes shrink {
    from {min-width: 400px;}
    to {min-width: 0px;}
}
@keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 30px; opacity: 0;}
}
